<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
</head>
<body>
    <div class="container flex-row">
        <div class="banner-section">Banner</div>
        <div class="login-section flex-col">
            <div class="login-content flex-col">
                <h1>Login</h1>
                <form action="/" class="flex-col">
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <input type="submit" name="" id="" value="Login">
                </form>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>